<footer class="form-footer">
  <div class="footer-links">
    <a href="#">Meta</a>
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Jobs</a>
    <a href="#">Help</a>
    <a href="#">API</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Locations</a>
    <a href="#">Contact Uploading & Non-Users</a>
    <a href="#">Meta Verified</a>
  </div>
  <div class="language-prefrence">
    <select name="language" class="language-dropdown">
      <option value="english"></option>
    </select>
    <p>
      &copy; 2024 Instagram Clone By
      <a href="https:noumansharif27.github.com" target="_blank"
        >Nouman Sharif</a
      >
    </p>
  </div>
</footer>
