<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('includes/flash.ejs') %>
    <div id="container">
      <%- include('includes/sidebar.ejs') %>
      <main class="main">
        <section class="status-bar">
          <div class="accounts">
            <span>
              <img src="/assets/avatar-1.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-2.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-3.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-4.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-5.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-6.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-2.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-3.png" alt="user-avatar" />
              <p>username</p>
            </span>
          </div>

          <button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <symbol
                id="999ac1e4-c024-474f-af78-b9e083d82f02"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6-6-6-1.41 1.41z"
                />
              </symbol>
              <use href="#999ac1e4-c024-474f-af78-b9e083d82f02" />
            </svg>
          </button>
        </section>

        <section class="main-content-pg">
          <div class="posts">
            <% for(post of posts) { %>
            <div class="post">
              <div class="post-header">
                <div class="post-header-left">
                  <img src="/assets/avatar-1.png" alt="post-owner-profile" />
                  <div class="post-user-details">
                    <strong>username</strong>
                    <p class="opacity">songname</p>
                  </div>
                </div>
                <svg
                  aria-label="More options"
                  class="x1lliihq x1n2onr6 x5n08af"
                  height="24"
                  role="img"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <title>More options</title>
                  <circle cx="12" cy="12" r="1.5" />
                  <circle cx="6" cy="12" r="1.5" />
                  <circle cx="18" cy="12" r="1.5" />
                </svg>
              </div>
              <div class="post-body">
                <img src="<%= post.image %>" alt="post-image" />
              </div>
              <div class="post-footer">
                <div class="post-footer-top">
                  <div class="post-footer-left">
                    <svg
                      aria-label="Like"
                      class="x1lliihq x1n2onr6 x1cp0k07"
                      fill="currentColor"
                      height="24"
                      role="img"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <title>Like</title>
                      <path
                        d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                      />
                    </svg>
                    <svg
                      aria-label="Comment"
                      class="x1lliihq x1n2onr6 x5n08af"
                      fill="currentColor"
                      height="24"
                      role="img"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <title>Comment</title>
                      <path
                        d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"
                        fill="none"
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                      />
                    </svg>
                    <svg
                      aria-label="Share"
                      class="x1lliihq x1n2onr6 xyb1xck"
                      fill="currentColor"
                      height="24"
                      role="img"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <title>Share</title>
                      <line
                        fill="none"
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="22"
                        x2="9.218"
                        y1="3"
                        y2="10.083"
                      />
                      <polygon
                        fill="none"
                        points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                  <svg
                    aria-label=""
                    class="x1lliihq x1n2onr6 x1roi4f4"
                    fill="currentColor"
                    height="12"
                    role="img"
                    viewBox="0 0 24 24"
                    width="12"
                  >
                    <title />
                    <polygon
                      fill="none"
                      points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                  </svg>
                </div>

                <div class="post-footer-bottom">
                  <strong class="likes-count">255 likes</strong>
                  <p class="comment">
                    <strong>username</strong> <%= post.caption %>
                  </p>
                  <strong>See translation</strong>
                  <p>Viewall comments</p>
                  <form action="/comment" method="post">
                    <input
                      type="text"
                      name="comment"
                      placeholder="Add a comment"
                    />
                    <button type="submit"><strong>Post</strong></button>
                  </form>
                </div>
              </div>
            </div>
            <% } %>

            <!-- <div class="post">
              <div class="post-header">
                <div class="post-header-left">
                  <img src="/assets/avatar-1.png" alt="post-owner-profile" />
                  <div class="post-user-details">
                    <strong>username</strong>
                    <p class="opacity">songname</p>
                  </div>
                </div>
                <svg
                  aria-label="More options"
                  class="x1lliihq x1n2onr6 x5n08af"
                  height="24"
                  role="img"
                  viewBox="0 0 24 24"
                  width="24"
                >
                  <title>More options</title>
                  <circle cx="12" cy="12" r="1.5" />
                  <circle cx="6" cy="12" r="1.5" />
                  <circle cx="18" cy="12" r="1.5" />
                </svg>
              </div>
              <div class="post-body">
                <img src="/assets/post2-image.png" alt="post-image" />
              </div>
              <div class="post-footer">
                <div class="post-footer-top">
                  <div class="post-footer-left">
                    <svg
                      aria-label="Like"
                      class="x1lliihq x1n2onr6 x1cp0k07"
                      fill="currentColor"
                      height="24"
                      role="img"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <title>Like</title>
                      <path
                        d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                      />
                    </svg>
                    <svg
                      aria-label="Comment"
                      class="x1lliihq x1n2onr6 x5n08af"
                      fill="currentColor"
                      height="24"
                      role="img"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <title>Comment</title>
                      <path
                        d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z"
                        fill="none"
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                      />
                    </svg>
                    <svg
                      aria-label="Share"
                      class="x1lliihq x1n2onr6 xyb1xck"
                      fill="currentColor"
                      height="24"
                      role="img"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <title>Share</title>
                      <line
                        fill="none"
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                        x1="22"
                        x2="9.218"
                        y1="3"
                        y2="10.083"
                      />
                      <polygon
                        fill="none"
                        points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                        stroke="currentColor"
                        stroke-linejoin="round"
                        stroke-width="2"
                      />
                    </svg>
                  </div>
                  <svg
                    aria-label=""
                    class="x1lliihq x1n2onr6 x1roi4f4"
                    fill="currentColor"
                    height="12"
                    role="img"
                    viewBox="0 0 24 24"
                    width="12"
                  >
                    <title />
                    <polygon
                      fill="none"
                      points="20 21 12 13.44 4 21 4 3 20 3 20 21"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                  </svg>
                </div>

                <div class="post-footer-bottom">
                  <strong class="likes-count">255 likes</strong>
                  <p class="comment">
                    <strong>username</strong> Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Veritatis, ut.
                  </p>
                  <strong>See translation</strong>
                  <p>Viewall comments</p>
                  <form action="/comment" method="post">
                    <input
                      type="text"
                      name="comment"
                      placeholder="Add a comment"
                    />
                    <button type="submit"><strong>Post</strong></button>
                  </form>
                </div>
              </div>
            </div> -->
          </div>
        </section>
      </main>
      <aside class="right-sidebar">
        <div class="user-profile-details">
          <div class="left-side-profile">
            <img src="/assets/logo.gif" alt="user-rofile-picture" />
            <div class="details">
              <strong>Username</strong>
              <p class="opacity">user roel | Bio</p>
            </div>
          </div>
          <a href="/login" class="account-switcher-btn"
            ><strong>Switch</strong></a
          >
        </div>
        <div class="suggested-heading">
          <h3>Suggested for you</h3>
          <a href="#"><strong>See All</strong></a>
        </div>

        <div class="suggested-accounts">
          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="/signup"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>
        </div>

        <article class="links">
          <a href="#">About.</a>
          <a href="help">Help .</a>
          <a href="#">Press .</a>
          <a href="#">API .</a>
          <a href="#">Jobs .</a>
          <a href="#">Privacy .</a>
          <a href="#">Terms .</a>
          <a href="#">Locations .</a>
          <a href="#">Languages .</a>
          <a href="#">Meta Verified .</a>

          <p>
            &copy; 2024 Instagram Clone By
            <a href="https:noumansharif27.github.com" target="_blank"
              >Nouman Sharif</a
            >
          </p>
        </article>
      </aside>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
