<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="container">
      <%- include('includes/sidebar.ejs') %>
      <main class="main">
        <section class="status-bar">
          <div class="accounts">
            <span>
              <img src="/assets/avatar-1.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-2.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-3.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-4.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-5.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-6.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-2.png" alt="user-avatar" />
              <p>username</p>
            </span>
            <span
              ><img src="/assets/avatar-3.png" alt="user-avatar" />
              <p>username</p>
            </span>
          </div>

          <button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <symbol
                id="999ac1e4-c024-474f-af78-b9e083d82f02"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6-6-6-1.41 1.41z"
                />
              </symbol>
              <use href="#999ac1e4-c024-474f-af78-b9e083d82f02" />
            </svg>
          </button>
        </section>

        <section class="main-content-pg"></section>
      </main>
      <aside class="right-sidebar">
        <div class="user-profile-details">
          <div class="left-side-profile">
            <img src="/assets/logo.gif" alt="user-rofile-picture" />
            <div class="details">
              <strong>Username</strong>
              <p class="opacity">user roel | Bio</p>
            </div>
          </div>
          <a href="#" class="account-switcher-btn"><strong>Switch</strong></a>
        </div>
        <div class="suggested-heading">
          <h3>Siggested for you</h3>
          <a href="#"><strong>See All</strong></a>
        </div>

        <div class="suggested-accounts">
          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>

          <div class="account">
            <div class="account-left">
              <img src="/assets/avatar-1.png" alt="" />
              <div class="details">
                <strong>username</strong>
                <p class="opacity">Lorem, ipsum dolor.</p>
              </div>
            </div>
            <a href="#"><strong>Follow</strong></a>
          </div>
        </div>
      </aside>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
