* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-gb-color: #000;
  --primary-text-color: #fff;
  --primary-border-color: #262626;
  --right-nav-anchor-color: blue;
  --right-sidebar-links-color: #6c6c6c;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  min-height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  background-color: var(--brand-gb-color);
  color: var(--primary-text-color);
}

img {
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

.opacity {
  opacity: 0.6;
  font-size: 0.8rem;
}

/* Sidebar */

.sidebar {
  height: 100%;
  width: 18%;
  border-right: 1px solid var(--primary-border-color);
  padding: 2.5rem 1.5rem 2.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 0;
}

.logo svg,
.logo path {
  fill: var(--primary-text-color);
}

.logo {
  padding-left: 1rem;
}

.sidebar .navbar {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.navbar a {
  color: var(--primary-text-color);
  opacity: 0.88;
}

.navbar a:nth-child(1) {
  font-weight: 550;
  opacity: 1;
}

.navbar .nav-element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  height: 2.9rem;
  width: 100%;
}

.nav-element:hover {
  background-color: var(--primary-border-color);
  opacity: 1;
}

.nav-element:hover svg {
  scale: 1.1;
  transition: scale 0.1s ease-out;
}

.nav-element .user-profile-image {
  width: 13%;
  border-radius: 50%;
}

.nav-element span,
.nav-element strong {
  margin-top: 0.09rem;
}

/* Main-Pg */

.main {
  width: 55%;
  height: 100%;
  margin-left: 18%;
}

.status-bar {
  width: 100%;
  height: 6.5rem;
  position: relative;
}

.status-bar .accounts {
  width: 95%;
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  padding: 1rem 0 0 1rem;
  gap: 1rem;
  margin: auto;
  overflow: hidden;
}

.status-bar .accounts span {
  position: relative;
  z-index: 22;
}

.status-bar .accounts span img {
  height: 80%;
  background-color: #262626;
  border-radius: 50%;
}

.status-bar .accounts span::before {
  content: "";
  height: 88%;
  width: 108%;
  background-image: -webkit-linear-gradient(
    red 5%,
    rgb(245, 30, 245) 50%,
    red,
    yellow
  );
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.status-bar .accounts span p {
  font-size: 0.8rem;
}

.status-bar button {
  position: absolute;
  top: 35%;
  right: 9%;
  z-index: 333;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  color: #000;

  /* background-color: var(--primary-text-color); */
}

.status-bar button img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #000;
}

.status-bar button svg {
  fill: #000;
}

/* Posts */

.posts {
  height: 100%;
  width: 70%;
  margin: auto;
}

.posts .post {
  width: 100%;
  min-height: 90dvh;
  margin: 1rem 0;
}

.post .post-header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.post .post-header img {
  border-radius: 50%;
  margin-right: 0.5rem;
}

.post .post-header .post-header-left {
  display: flex;
}

.post-header .post-header-left .post-user-details svg {
  align-self: center;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.post-header svg {
  scale: 1.5;
  margin-right: 0.5rem;
}

.posts .post-body {
  height: 90dvh;
  width: 100%;
  border: 1px solid var(--primary-border-color);
  margin: 0.5rem 0;
  padding: 0 5rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.post-body img {
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
}

.posts .post-footer-top {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts .post-footer-top .post-footer-left {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.posts .post-footer-top .post-footer-left svg {
  scale: 1.1;
}

.posts .post-footer-top .post-footer-left + svg {
  scale: 2.1;
  margin-right: 0.5rem;
}

.post-footer-bottom .likes-count {
  margin-bottom: 1rem;
  font-size: 0.89rem;
}

.post-footer-bottom .comment {
  font-size: 0.89rem;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.post-footer-bottom strong:nth-child(3) {
  font-size: 0.9rem;
}

.post-footer-bottom p:nth-child(4) {
  font-size: 0.89rem;
  opacity: 0.7;
  margin: 0.5rem 0;
}

.post-footer-bottom form {
  width: 100%;
  height: 2.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--primary-border-color);
}

.post-footer-bottom form input[type="text"] {
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  width: 100%;
  outline: none;
  color: var(--primary-text-color);
}

.post-footer-bottom form input::placeholder {
  font-style: italic;
}

.post-footer-bottom form button {
  position: absolute;
  left: 80%;
  top: 30%;
  background-color: transparent;
  border: none;
  color: var(--right-nav-anchor-color);
  font-weight: 800;
  font-size: 1rem;
  /* opacity: 0; */
}

/* .post-footer-bottom input:hover button {
  opacity: 1;
} */

/* Right-Sidbar */

.right-sidebar {
  flex: 1;
  margin: 2rem 4rem 2rem 0.5rem;
}

.user-profile-details {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.user-profile-details .left-side-profile {
  display: flex;
  gap: 0.8rem;
}

.user-profile-details .details {
  height: 80%;
  align-self: center;
}

.user-profile-details img {
  height: 100%;
  border-radius: 50%;
}

.user-profile-details a {
  align-self: center;
  font-size: 0.8rem;
  color: var(--right-nav-anchor-color);
}

.right-sidebar .suggested-heading {
  height: 3rem;
  width: 100%;
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggested-heading h3 {
  opacity: 0.7;
  font-size: 1rem;
}

.suggested-heading a {
  font-size: 0.9rem;
  color: var(--primary-text-color);
}

.suggested-heading a:hover {
  opacity: 0.7;
}

.suggested-accounts {
  /* min-height: 50%; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.suggested-accounts .account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.suggested-accounts .account .account-left {
  display: flex;
  gap: 0.5rem;
}

.suggested-accounts .account img {
  width: 25%;
  border-radius: 50%;
  background-color: var(--primary-border-color);
}

.suggested-accounts .details {
  align-self: center;
}

.suggested-accounts .account a {
  font-size: 0.8rem;
  color: var(--right-nav-anchor-color);
}

.right-sidebar a :hover {
  opacity: 0.7;
}

.links {
  width: 100%;
  margin-top: 1rem;
  color: var(--primary-border-color);
  opacity: 0.7;
}

.links a {
  color: var(--right-sidebar-links-color);
  font-size: 0.8rem;
}

.links a:hover {
  text-decoration: underline;
}

.links p {
  margin-top: 3rem;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--right-sidebar-links-color);
}

/* Signup-form */

.signup-form {
  min-height: 75dvh;
  width: 25dvw;
  border: 1px solid var(--primary-border-color);
  padding: 1rem;
  text-align: center;
  margin: 5rem auto;
}

.signup-form .brand-name svg {
  scale: 2;
  margin: 2rem 6rem 0;
}

.signup-form .brand-name h3 {
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
  opacity: 0.5;
}

.signup-form input {
  width: 80%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid var(--right-sidebar-links-color);
  outline: none;
  font-size: 1rem;
  margin: 0 2rem 0.5rem;
}

.signup-form form p {
  font-size: 0.8rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

.signup-form form .signup-btn {
  width: 90%;
  height: 2rem;
  border: none;
  background-color: rgba(0, 0, 255, 0.724);
  border-radius: 0.5rem;
  color: var(--primary-text-color);
  margin-top: 1rem;
}

/* Form-footer */
