* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #dadada;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  /* overflow: hidden; */
}

#left {
  height: 100%;
  width: 18%;
  border-right: 1px solid #262626;
  position: relative;
  /* overflow: hidden; */
}

#main-right {
  height: 100%;
  width: 82%;
  background-color: #000;
  display: flex;
  overflow-y: auto;
  /* overflow-x: hidden; */
}

#center {
  height: 100%;
  width: 65%;
}

#right {
  height: 100%;
  width: 35%;
  z-index: 2;
}

#brand-name {
  height: 10%;
  width: 100%;
  /* background-color: yellow; */
  padding: 30px 30px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: 50px;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  color: #fff;
}

#nav-options {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#nav-options ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: baseline; */
  justify-content: space-around;
  /* padding-top: 50px; */
  align-items: flex-start;
}

ul > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  /* padding-left: 25px; */
  height: 45px;
  width: 100%;
  margin-left: 12px;
  padding: 15px;
}

li > a {
  color: #fff;
  text-decoration: none;
  padding-left: 0.45rem;
  font-size: 15px;
  font-weight: 400;
  /* justify-content: center; */
}

span {
  font-size: 1px;
  font-weight: 500;
}

i {
  font-size: 25px;
  font-weight: 600;
  opacity: 0.8;
  /* padding-right: 5px; */
  color: #fff;
}

.home {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}

ul > li:nth-child(1) a {
  font-weight: 600;
}

.icon {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  opacity: 0.8;
}

#menu {
  position: absolute;
  bottom: 3%;
  left: 5px;
  width: 100%;
}

#menu .icon {
  font-weight: 400;
  opacity: 0.8;
}

li > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

ul > li:hover {
  background-color: #1a1a1a;
  width: 90%;
  /* height: 35px; */
  border-radius: 7px;
  margin-right: 10px;
}

#status-bar {
  height: 7.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  gap: 0.9rem;
  position: relative;
  padding: 0 30px;
  overflow-x: auto;
  /* max-width: 50rem; */
  white-space: nowrap;
}

#status-bar img {
  max-height: 4.6875rem;
  max-width: 4.6875rem;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid orange;
  margin: 0 5px;
  white-space: nowrap;
}

#arrow {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 38%;
  right: 8%;
  /* transform: translate(-50%, 0); */
}

.arrow {
  color: #6d6e6e;
}

.dots {
  color: #fff;
  /* margin-right: 50px; */
}

#main-content {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  /* background-color: green; */
  /* padding-top: px; */
  margin-top: 0;
}

#post-info {
  height: 6.25rem;
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  /* padding: 20px 50px 0 50px; */
  margin: auto;
  margin-top: 0;
}

.user-info {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: flex-start;
}

.user-info img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.625rem;
  border: 0.125rem solid orange;
}

#post {
  width: 65%;
  height: 70%;
  margin: auto;
  /* background-color: palevioletred; */
  /* padding: 0 50px; */
  border: 0.0625rem solid #262626;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.18rem;
  overflow: hidden;
}

#post img {
  height: 100%;
  width: 80%;
  object-fit: cover;
}

.details p {
  font-size: 0.725rem;
  /* opacity: 0.6; */
}

.description {
  opacity: 0.8;
  font-size: 0rem;
}

.account-pic img {
  height: 3.125rem;
  width: 3.125rem;
  object-fit: cover;
  object-position: center;
  border: none;
}

#account-status {
  height: 7.25rem;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

#account-status a {
  margin-left: 5rem;
}

#myAccount {
  margin-top: 0.625rem;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
  padding: 0 3.43rem 0 1.56rem;
}

#myAccount a {
  text-decoration: none;
  font-size: 0.8rem;
}

#myAccount h4 {
  font-size: 0.85rem;
}

#myAccount p {
  font-size: 0.65rem;
}

#myAccount .description {
  font-size: 0.85rem;
}

/* #account-status p {
  width: 80%;
} */

#suggested-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.43rem 0.75rem 1.56rem;
  /* background-color: #dadada; */
  color: #fff;
  /* margin-bottom: 0.5rem; */
}

#suggested-heading h4 {
  opacity: 0.8;
}

#suggested-heading a {
  color: #fff;
}

#suggested-heading a:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

/* .details h4 {
  font-size: 5rem;
} */

.users-story {
  width: 20.85rem;
  height: 90%;
  background-color: #dadada;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text {
  width: 100%;
  /* background-color: blue; */
  /* padding-top: 2rem; */
  padding: 2rem 3.43rem 0 1.56rem;
}

#text a {
  font-size: 0.812rem;
  text-decoration: none;
  color: #6c6c6c;
}

#text p {
  padding-top: 0.8rem;
  font-size: 0.75rem;
  color: #6c6c6c;
}

#text .hover-deco:hover {
  text-decoration: underline;
}

.user-interactions {
  height: 7.25rem;
  width: 65%;
  /* background-color: green; */
  margin: auto;
  margin-top: 0.85rem;
  color: #fff;
  padding-bottom: 5rem;
  border-bottom: 0.065rem solid #262626;
  margin-bottom: 5rem;
}

#icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

#icons span {
  font-size: 2rem;
  margin-right: 0.5rem;
}
/* 
#icons .send-icon {
  transform: rotate(-30deg);
} */

#likes {
  margin-top: 0.5rem;
}

#icons #save-post-icon span {
  margin-right: 0;
}

.user-interactions #description {
  display: flex;
  margin-top: 0.5rem;
}

.user-interactions #description h3 {
  font-size: 0.9rem;
}

.user-interactions #description p {
  font-size: 0.9rem;
}

/* .user-interactions #description span {
  font-size: 0.9rem;
  opacity: 0.8;
} */

#comment {
  font-size: 0.85rem;
  opacity: 0.8;

  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
}

#smile {
  width: 2rem;
  height: 2rem;
}
